$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body{
    background-color: black;

}
.span5{
    background-color: black;
}
#home_page{
    background: url(/images/homepage.jpg) no-repeat;
    background-size:320px 568px;
    height:568px;
    width: 320px;

}
#emotion_button{
    margin: 0 auto;
    margin-left: 50px;
    padding-top: 350px;
}
.btn-primary{
    margin-bottom: 60px;
    background-color:transparent;
    z-index:-999;
    font-size: 12px;
    border: none;
}
 .btn-default{
    background-color:transparent;
        font-size: 12px;
            border: none;
            color: white;


}
 .btn-success{
    background-color:transparent;
        font-size: 12px;
            border: none;
}
#normal{
    margin-left: 10px;
}
#sad{
    margin-left: 15px;
}
#second_button{
    margin-top: 70px;
}
#third_button{
    margin-top: 50px;
}
#first_button{
    margin-top: 360px;

}
#dashboard{
        background: url(/images/second_page.gif) no-repeat;
    background-size:320px 568px;
    height:568px;
    width: 320px;
    font-size: 24px;
}

#dash_button{
    padding-top: 100px;
    margin-left: 80px;
}
#med{
    font-size: 18px;
}
#view{
    font-size: 18px;
}
#meditate{
    background: url(/images/timer.gif) no-repeat;
        background-size:320px 568px;
    height:568px;
    width: 320px;
    font-size: 24px;
}
.contaniner{
    padding: 0 !important;
        margin: 0 !important;

}
.timer{
    padding-top: 80px;
    padding-left: 60px;
    font-size: 18px;
    color: white;
}
#stop{
    padding-left: 50px;
}