<div id="meditate-time-up" ng-controller="meditationsTimeupController">
    <div id="stoptime" class="timer"> Congratulations! You have meditated for {{timer_min}} minutes and {{timer_sec}} seconds. </div>
    <textarea id="thoughts" name="string" ng-model="thoughts.text"></textarea>
    <button id="save" class="btn btn-lg btn-primary btn-timeup" ng-click="saveThoughts()">Save</button>
    <button id="cancel" class="btn btn-lg btn-primary btn-timeup" ng-click="cancelThoughts()">Cancel</button>
</div>